---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import Services from '../components/Services.astro';
import SocialProof from '../components/SocialProof.astro';
import Purpose from '../components/Purpose.astro';
import Podcast from '../components/Podcast.astro';
import Enquiry from '../components/Enquiry.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main id="main-content">
    <Hero />
    <Marquee />
    <Services />
    <SocialProof />
    <Purpose />
    <Podcast />
    <Enquiry />
  </main>
  <Footer />
</Layout>
